# --- Assembly
ASSEMBLY_API_KEY=
TASKS_ASSEMBLY_API_KEY=
TASKS_APP_ID= # Remains unchanged for dev
FORMS_APP_ID=
CONTRACTS_APP_ID=
INVOICES_APP_ID=

COPILOT_DEBUG=true
BLOB_READ_WRITE_TOKEN= # Blob rw token for old client home's vercel blob store

DATABASE_URL=
SUPABASE_URL=
SUPABASE_BUCKET_NAME="media"
SUPABASE_SIGNED_URL_EXPIRY_TIME=259200
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=

# --- Vercel
VERCEL_ENV="development"
VERCEL_URL="localhost:3000"

NO_BUILD=true

