@theme {
  --breakpoint-uxs: 20rem; /* 320 px */
  --breakpoint-xs: 30rem; /* 480 px */
  --breakpoint-sm: 40rem; /* 640 px */
  --breakpoint-md: 48rem; /* 768 px */
  --breakpoint-lg: 64rem; /* 1024 px */
  --breakpoint-xl: 80rem; /* 1280 px */
  --breakpoint-2xl: 96rem; /* 1536 px */

  --container-uxs: 20rem;
  --container-xs: 30rem;
  --container-sm: 40rem;
  --container-md: 48rem;
  --container-lg: 64rem;
  --container-xl: 80rem;
  --container-2xl: 96rem;
}
