@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;

  --color-text-primary: #212b36;
  --color-text-secondary: #6b6f76;
  --color-text-placeholder: #6b6f76;

  --color-border-gray: #dfe1e4;
  --color-border-popper: #ededf0;

  --color-background-primary: #f8f9fb;
  --color-background-secondary: #eff1f4;

  --color-neutral-200: #edf2f6;
  --color-neutral-100: #f6f9fc;

  --color-gray-200: #dfe1e4;
  --color-gray-300: #c9cbcd;

  --color-primary: #212b36;
}
