@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;

  --color-text-primary: #212b36;
  --color-text-secondary: #6b6f76;
  --color-text-placeholder: #6b6f76;

  --color-border-gray: #dfe1e4;
  --color-border-popper: #ededf0;

  --color-background-primary: #f8f9fb;
  --color-background-secondary: #eff1f4;

  --color-neutral-200: #edf2f6;
  --color-neutral-100: #f6f9fc;

  --color-gray-200: #dfe1e4;
  --color-gray-300: #c9cbcd;

  --color-primary: #212b36;

  --color-error: #991a00;

  --color-gray-400: #6a7282;
  --color-gray-500: #637381;

  --color-info-primary: #0c41bb;
  --color-info-primary-hover: #0a3599;
  --color-info-bg: rgba(230, 240, 255, 0.2);

  --color-info-primary-dark: #5b9aff;
  --color-info-primary-dark-hover: #4a89ee;
  --color-info-bg-dark: rgba(59, 130, 246, 0.1);

  --color-gray-dark-200: #2e3338;
  --color-gray-dark-300: #454b52;
  --color-gray-dark-400: #565d65;
}
