@theme inline {
  --text-body-md: 0.875rem;
  --text-body-md--line-height: 1.57143;

  --text-heading-xl: 20px;
  --text-heading-xl--line-height: 1.4;
  --text-heading-xl--font-weight: 500;

  --text-heading-md: 0.875rem;
  --text-heading-md--line-height: 1.57143;
  --text-heading-md--font-weight: 500;
}
