@import "tailwindcss";

@import "./assets/_variables/_colors.css";

:root {
  --font-inter: "Inter", "Arial", "Helvetica", sans-serif;
}

@layer components {
  .text-custom-xs {
    @apply text-xs leading-5 font-normal;
  }
  .text-custom-xl {
    @apply text-xl leading-6 font-normal tracking-[-0.1px] text-text-primary;
  }
}

body {
  @apply bg-background text-foreground box-border;
}

/* react color pickup */
.w-color-saturation {
  border: 1px solid var(--color-border-gray) !important;
  margin-bottom: 16px;
  border-radius: 8px !important;

  & > div:first-child {
    height: 32px !important;
    width: 32px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff !important;
    background-image: none !important;
    border: 1px solid var(--color-border-gray) !important;

    & > div:first-child {
      height: 16px !important;
      width: 16px !important;
    }
  }
}

.w-color-alpha-horizontal {
  height: 12px !important;

  & > div:first-child {
    border-radius: 24px !important;
  }

  & .w-color-interactive > div:first-child {
    transform: translate(-16px, -9px) !important;
    height: 32px !important;
    width: 32px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff !important;
    background-image: none !important;
    box-shadow: none !important;
    border: 1px solid var(--color-border-gray) !important;

    & > div:first-child {
      height: 16px !important;
      width: 16px !important;
    }
  }
}

.tiptap {
  @apply px-6 py-5 text-text-primary min-h-[calc(100vh-116px)];

  h1 {
    @apply text-xl leading-7 font-medium;
  }

  h2 {
    @apply text-lg leading-6 font-medium;
  }

  p {
    @apply text-sm leading-5.5 font-normal;
  }

  ul,
  ol {
    @apply pl-6;
  }

  hr {
    @apply border-text-primary;
  }

  p.is-empty::before {
    @apply text-text-placeholder float-left h-0 pointer-events-none;
    content: attr(data-placeholder);
  }

  table {
    @apply overflow-hidden w-full table-fixed bg-white mt-1 mb-1 border-collapse;

    td,
    th {
      @apply border border-gray-300 box-border min-w-[1fr] relative;
    }

    th {
      @apply bg-gray-100 text-left px-2 py-1;
    }

    td {
      @apply px-2 py-1;
    }
  }

  .callout {
    @apply my-5 bg-background-primary p-3;
    .callout__content {
      @apply font-medium text-sm leading-5.5;
    }
  }
}

/* IMPORTANT: If changing resize bar styles, update ResizeBar.tsx separately. Can't share them under a single utitlity styling */
[data-resize-wrapper] {
  @apply relative;

  [data-resize-handle] {
    @apply absolute opacity-0 transition-opacity duration-150 ease-out bg-text-placeholder rounded z-10 border border-gray-200;
  }
  &:hover [data-resize-handle] {
    @apply opacity-80;
  }
  [data-resize-handle="top-right"] {
    @apply w-2 h-[50%] top-1/2 right-[-4px] translate-y-[50%] transform cursor-nw-resize;
  }
}

.ProseMirror-focused {
  outline: none;
}
